.main {
  width: 100%;
  max-width: 710px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 991px){
    max-width: 784px;
  }
  @media (max-width: 767px){
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 78px;
}

.action {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}
.greeting {
  font-size: 32px;
  font-weight: 700;
}