* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Typography */
  --ff_main: 'Roboto', sans-serif;
  --fz-main: 16px;
  --fw-main: 400;
  --lh-main: 1.2;

  /* Accent color */
  --accentDark: #7291FF;
  --accentLight: #8EA7FF;
  --like: #FF6767;

  /* Neutral Color */
  --black: #000;
  --darkGray: #333333;
  --gray: #ABABAB;
  --lightGray: #F8F8F8;
  --white: #FFF;
}

body {
  font-family: var(--ff_main);
  font-size: var(--fz-main);
  line-height: var(--lh-main);
  font-weight: var(--fw-main);
  color: var(--darkGray);
  min-height: 100vh;
}

#root, .app {
  min-height: inherit;
}

/*--------------------- /General ---------------------*/
/* app container */
.app {
  display: grid;
  grid-template-columns: 1fr 480px;

  @media (max-width: 991px){
      grid-template-columns: 1fr;
  }
}



/* Card Start */

.card {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 27px;
}

.card__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.favorite-btn {
  align-self: flex-end;
  margin-bottom: 10px;
  cursor: pointer;
}
.favorite-btn svg path:first-child {
  fill: transparent;
}
.favorite-btn.isFavorite svg path:first-child {
  fill: #FF6767;
}

.joke-id {
  font-size: 10px;
  color: var(--gray);
  margin-bottom: 5px;
}
.joke-id a {
  color: var(--accentLight);
  padding: 0 5px;
}

.joke {
  margin-bottom: 20px;
}

.joke-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.time-updated {
  font-size: 10px;
  font-weight: 500;
  color: var(--gray);
}
.joke-category {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 6px 20px;
  background-color: var(--white);
  border-radius: 6px;
}

.card-sm {
  padding: 20px;
  background-color: var(--white);
  box-shadow: 0px 25px 20px -20px rgba(0,0,0,0.1);
}
.card-sm .card__icon {
  background-color: var(--lightGray);
}

.card-lg {
  padding: 40px;
  background-color: var(--lightGray);
}
.card-lg .card__icon {
  background-color: var(--white);
}
.card-lg .joke {
  font-size: 18px;
}

/* Card End */