* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Typography */
  --ff_main: 'Roboto', sans-serif;
  --fz-main: 16px;
  --fw-main: 400;
  --lh-main: 1.2;

  /* Accent color */
  --accentDark: #7291FF;
  --accentLight: #8EA7FF;
  --like: #FF6767;

  /* Neutral Color */
  --black: #000;
  --darkGray: #333333;
  --gray: #ABABAB;
  --lightGray: #F8F8F8;
  --white: #FFF;
}

body {
  font-family: var(--ff_main);
  font-size: var(--fz-main);
  line-height: var(--lh-main);
  font-weight: var(--fw-main);
  color: var(--darkGray);
  min-height: 100vh;
}

#root, .app {
  min-height: inherit;
}

/*--------------------- /General ---------------------*/
.app {
  display: grid;
  grid-template-columns: 1fr 480px;

  @media (max-width: 991px){
      grid-template-columns: 1fr;
  }
}